
doctype html
html
	head
		meta(charset="utf-8")
		title Brimshaw Establishment
		link(rel="stylesheet" href="brim.css")
		script(type="importmap-shim" src="/importmap.json")
		script(type="module-shim" src="brim.js")
		script(async defer src="https://unpkg.com/es-module-shims@0.4.5/dist/es-module-shims.js")
	body
		figure
			h1 The Brimshaw Establishment
			img.photoslide(alt="")
			figcaption
				p.caption "This one is totally ripped and sweet!"
				p.cred — ℒord ℬrimshaw Đuke-Ŵellington
		p.discord Join us on Discord at <a target="_blank" href="https://discord.gg/2w6T5nP">https://discord.gg/2w6T5nP</a>
