
doctype html
html
	head
		meta(charset="utf-8")
		title Brimshaw Establishment
		link(rel="stylesheet" href="brim.css")
	body
		figure
			h1 The Brimshaw Establishment
			img.photoslide(alt="")
			figcaption
				p.caption "This one is totally ripped and sweet!"
				p.cred — ℒord ℬrimshaw Đuke-Ŵellington
		p.discord Join us on Discord at <a target="_blank" href="https://discord.gg/2w6T5nP">https://discord.gg/2w6T5nP</a>
		script(src="brim.js")
