
- let title = "chasemoskal"
- const titleize = titleBody => `chasemoskal– ${titleBody}`

doctype html
html
	head
		block vars
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet" href="/main.css")
		block headly
	body
		header
			.portrait
				img(alt="[portrait: chase moskal]" src="/assets/chase.jpg")
				.nametag
					p Chase Moskal
					p Web Developer
			.navarea
				a(href="/") home
				a(href="/p/") posts
				a(data-email="Y2hhc2Vtb3NrYWxAZ21haWwuY29t" target="_blank")
		block content
		script(src="/main.bundle.js")
