
- let title = "chasemoskal"
- const titleize = titleBody => `chasemoskal– ${titleBody}`

doctype html
html
	head
		block vars
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet" href="/main.css")
		block headly
	body
		block content
